<header class="bg-dark py-4">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="fw-normal text-white-50 mb-0">All the best for a whole lot less.</p>
        </div>
    </div>
</header>

<table class="table table-striped" style="margin-left:8rem">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody  *ngFor="let item of totalBuys">
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <button (click)="deleteCart(item.id)" type="reset" class="btn btn-secondary" style="background-color:darkslategrey">DELETE</button>
      </tr>
    </tbody>
</table>

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-outline-dark btn-lg text-center my-5" routerLink="/address">Ready To Order</button>
</div>
