<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="form-group col-md-6" id="registeruser">
        <h2 class="text-center">Register</h2>
        <hr>
        <div id="registerforms">
          <label for="username">Enter Username:</label><br>
          <input [(ngModel)]="input.username" class="form-control">
          <label for="email">Enter Email:</label><br>
          <input [(ngModel)]="input.email" class="form-control">
          <label for="password">Enter Password:</label><br>
          <input [(ngModel)]="input.password" type="password" class="form-control">
          <br>
          <button (click)=registerUser() routerLink="/" class="btn btn-success btn-block"
            id="registerbutton">Register</button>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
</div>