<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 form-group" id="login">
        <h2 class="text-center">Login</h2>
        <hr>
        <div id="login-forms">
          <label for="username">Enter Username:</label><br>
          <input [(ngModel)]="input.username" class="form-control"><br>
          <label for="password">Enter Password:</label><br>
          <input [(ngModel)]="input.password" type="password" class="form-control"><br>
          <button (click)=loginUser() routerLink="/login" class="btn btn-block btn-success">Login</button>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
